.App {
  text-align: center;
  position: relative;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cardcontainer {
  margin: 1px 1px 1px 1px;
  width: 80%;
  position: absolute;
  top: 30px;
  right: 2px;
  left: 300 px;
}

.imageframe:hover .AddToCart{
  background-color: yellow;
  font-size: calc(10px + 2vmin);
  color: white;
}

.imageframe .AddToCart {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 45px;
}

.imageframe .FreeShipping {
  background-color: black;
  color: white;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 2px;
}

.imageframe {
  width: 350px;
  height: 570px;
  margin: 10px;
  float: left;
  border: 2px solid #04111A;
  position: relative;
}

.imageframe div {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: auto;

}

.imageframe img {
  display: block;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
}


